* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
}

body {
    background-color: #113f67;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 20px;
}

.title {
    color: aliceblue;
    text-align: center;
    margin: 30px;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: inherit;
    font-size: larger;
    margin: 30px;
}


#note-text {
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    font-family: inherit;
    font-size: large;
    width: 60%;
    scrollbar-width: none;
}

#note-text::-webkit-scrollbar {
    display: none;
}

.btn {
    background:transparent;
    border: none;
    color: #e7eaf6;
    margin: 0 0 0 10px;
}

.btn:hover {
    background:transparent;
    border: none;
    color: #a2a8d3;
    cursor: pointer;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    overflow-y: auto;
    max-height: 400px;
    padding: 0 0 30px 0;
    scrollbar-width: none;

}

.cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    text-align: center;
    border-radius: 0.75rem;
    margin: 20px 10px 0 0;
    padding: 10px 15px;
    transition: 1s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    background-color: #a2a8d3;
    width: 50%;
    height: 50px;
    font-stretch: condensed;
    word-break: break-all;
    overflow: hidden;
}

.card p {
    flex-grow: 3;
}

.card i {
    display: none;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0 5px 5px 0;
}
.card i:hover {
    color: red;
    cursor: pointer;
}

.grow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 70%;
    transform: translateZ(70px);
}
